@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
header {
  background-image: url(../images/background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 260px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid white;
  height: 75px;
}
header .header_title .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header_title .header_logo .logo_img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}
header .header_title .header_logo .logo_text {
  line-height: 60px;
  font-size: 21px;
  font-weight: 700;
}
header .header_title .header_logo .logo_text span {
  color: #FE9E45;
}
header .header_title .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_title .header_nav .header_nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  margin-left: 40px;
}
header .header_title .header_nav .tech_support {
  color: #FE9E45;
  margin-left: 81px;
  border: 1px solid #FE9E45;
  padding: 15px 22px;
  height: 60px;
  line-height: 100%;
  -webkit-box-shadow: 0px 0px 8px 0.5px #FE9E45;
          box-shadow: 0px 0px 8px 0.5px #FE9E45;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
header .header_title .header_nav .tech_support:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 3px 1px #fffb09;
          box-shadow: 3px 3px 3px 1px #fffb09;
}
header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
header .header_content .header_content-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 45px;
}
header .header_content .header_content-properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 800px;
}
header .header_content .header_content-properties .content_properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_content .header_content-properties .text_properties {
  margin-top: 13px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .header_content .header_bottom-title {
  width: 800px;
  height: 70px;
  margin-top: 55px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
header .header_content .header_bottom-title span {
  color: #FE9E45;
}
header .header_content .header_bottom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FE9E45;
  border: 1px solid #FF6711;
  -webkit-box-shadow: 0px 0px 10px 0.3px #FF6711;
          box-shadow: 0px 0px 10px 0.3px #FF6711;
  padding: 10px 12px;
  margin-top: 50px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
header .header_content .header_bottom-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 20px 0.8px #ff5e00;
          box-shadow: 5px 5px 20px 0.8px #ff5e00;
}
header .header_content .header_bottom-button .header_bottom-button-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.advantages {
  background-image: url(../images/background_2.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages .advantages_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  text-align: center;
}
.advantages .advantages_container .advantages_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  margin-top: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E3E3E3;
  color: #4D4D4D;
}
.advantages .advantages_container .advantages_content-wrapper {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.advantages .advantages_container .advantages_content-wrapper .advantages_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 300px;
  padding-left: 70px;
}
.advantages .advantages_container .advantages_content-wrapper .advantages_items .advantages_items-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #481C03;
}

.about_product {
  background-image: url(../images/background_3.jpg);
}
.about_product .about_container {
  margin: 20px 200px 0px 200px;
}
.about_product .about_container .about_title {
  padding-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 49px;
  color: #FFFFFF;
  border-bottom: 1px solid #765B41;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about_product .about_container .about_title span {
  color: #FE9E45;
}
.about_product .about_container .about_text {
  margin: 50px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}
.about_product .about_container .about_text span {
  font-size: 21px;
  font-weight: 700;
}
.about_product .about_container .about_title-bottom {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FE9E45;
  border-bottom: 1px solid #765B41;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 50px;
}
.about_product .about_container .about_rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about_product .about_container .about_rules .about_rules-item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.about_product .about_container .about_rules .about_rules-item .about_rules-title {
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FE9E45;
}

.price {
  background-color: #F0F0F0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.price .price_container {
  width: 80%;
}
.price .price_container .price_title {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #4D4D4D;
  border-bottom: 1px solid #E3E3E3;
  margin: 30px 0 40px;
  padding-bottom: 10px;
}
.price .price_container .tariffs_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price .price_container .tariffs_wrapper .tariffs_item {
  padding: 0 30px;
  width: 350px;
  height: 470px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.price .price_container .tariffs_wrapper .tariffs_item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 18px 0.5px #000000;
          box-shadow: 0px 0px 18px 0.5px #000000;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 10px;
  padding-bottom: 15px;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_logo .tariffs_logo-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_content {
  width: 100%;
  padding: 10px 30px;
  border-bottom: 1px solid #E3E3E3;
  border-top: 1px solid #E3E3E3;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_content .tariffs_characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_content .tariffs_characteristics .tariffs_characteristics-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #4D4D4D;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_content .tariffs_characteristics .tariffs_characteristics-count {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #4D4D4D;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_bottom {
  text-align: center;
  padding: 10px 0;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_bottom .tariffs_bottom-days {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #481C03;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_bottom .tariffs_bottom-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_bottom .tariffs_bottom-button {
  width: 150px;
  height: 50px;
  background-color: #FE9E45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FE9E45;
  padding: 7px 20px;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_bottom .tariffs_bottom-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 10px 5px #fffb09;
          box-shadow: 0px 0px 10px 5px #fffb09;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_bottom .tariffs_bottom-button .tariffs_bottom-icon {
  min-width: 25px;
}
.price .price_container .tariffs_wrapper .tariffs_item .tariffs_bottom .tariffs_bottom-button p {
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.prefooter {
  background-image: url(../images/background_2.jpg);
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.prefooter .server_map {
  position: absolute;
}
.prefooter .server_map img {
  width: 1300px;
  position: inherit;
  top: -60px;
}
.prefooter .server_map .bg_svg {
  width: 1300px;
  position: relative;
  top: -60px;
}
.prefooter .server_map .server_map-inner {
  position: absolute;
  top: -40px;
}
.prefooter .server_map .server_map-inner .server_map-title {
  margin-top: 20px;
  margin-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #FE9E45;
  border-bottom: 1px solid #765B41;
  padding-bottom: 10px;
}
.prefooter .server_map .server_map-inner .server_map-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-left: 100px;
  margin-top: 20px;
}
.prefooter .server_map .server_map-inner .server_map-ways-wrapper .svg_finger {
  position: relative;
  top: -155px;
  left: 960px;
}
.prefooter .server_map .server_map-inner .server_map-ways-wrapper .svg_face {
  position: relative;
  left: 578px;
}
.prefooter .server_map .server_map-inner .server_map-ways-wrapper .svg_line {
  position: relative;
  top: -480px;
  left: 116px;
}
.prefooter .server_map .server_map-inner .server_map-ways-wrapper .server_map-way {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #262D36;
  border: 1px solid #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  position: relative;
  width: 400px;
  z-index: 100;
}
.prefooter .server_map .server_map-inner .server_map-ways-wrapper .server_map-way .num_block {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: #FFFFFF;
  background: #FE9E45;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
  padding: 5px 5px 5px 10px;
}
.prefooter .server_map .server_map-inner .server_map-ways-wrapper .server_map-way .num_block-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 0px 10px;
}
.prefooter .server_map .server_map-inner .w1 {
  top: -180px;
  left: 100px;
}
.prefooter .server_map .server_map-inner .w2 {
  top: -56px;
  left: 470px;
}
.prefooter .server_map .server_map-inner .w3 {
  top: 30px;
  left: 80px;
}
.prefooter .server_map .server_map-inner .w4 {
  top: 70px;
  left: 670px;
}
.prefooter .server_map .server_map-inner .w5 {
  top: 180px;
  left: 230px;
}
.prefooter .server_map .server_map-inner .w6 {
  top: 200px;
  left: 750px;
}

.question {
  background-image: url(../images/background_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 0px 230px;
}
.question .question_title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #4D4D4D;
  border-bottom: 1px solid #E3E3E3;
  margin: 30px 0 40px;
  padding-bottom: 15px;
}
.question .question_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.question .question_item .question_name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #481C03;
  margin-bottom: 15px;
}
.question .question_item .question_answer {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #4D4D4D;
  margin-left: 50px;
  margin-bottom: 30px;
}

.footer {
  background-color: #F0F0F0;
  padding: 0px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer_title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #4D4D4D;
  border-bottom: 1px solid #E3E3E3;
  margin: 30px 0 40px;
  padding-bottom: 15px;
  padding-top: 20px;
}
.footer .footer_text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 29px;
  color: #4D4D4D;
}
.footer .footer_btn {
  background: #FE9E45;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.footer .footer_btn .btn_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  margin-left: 15px;
}
.footer .footer_btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 5px 1px #3d3d3dd2;
          box-shadow: 0px 0px 5px 1px #3d3d3dd2;
}

.footer_bottom {
  background-color: #262D36;
  padding: 0px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_bottom .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_bottom .footer_logo .footer_logo-svg {
  padding: 20px 20px 20px 0;
}
.footer_bottom .footer_logo .footer_logo-text {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}
.footer_bottom .footer_logo .footer_logo-text span {
  color: #FE9E45;
}
.footer_bottom .all_rights {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}